#Header{
    width: 100%;
    margin: 0;
    background-color: lightgray;
}
#HeaderBox{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 300%;
}
#Navigation{
    margin-left: 15%;
    margin-right: 55%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}
.HeaderButton{
    display:inline-flex;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 150%;
}
