#Header{
    width: 100%;
    margin: 0;
    background-color: silver;
}
#HeaderBox{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 300%;
}
#Navigation{
    margin-left: 20%;
    margin-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    text-underline-offset: .5em;
}
.HeaderButton{
    display:inline-flex;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 150%;
    padding-right: 1em;
}
#Navigation a{
    text-decoration: none;
}
