html{
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    font-size:large;
}
#Content{
    margin:2%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: whitesmoke;
} 
@media (max-width: 1000px) {
    #Content{
        margin-left: 15%;
        margin-right: 15%;
    }
}