html{
    background-color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    font-size:large;
}
#Content{
    margin:4%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: gray;
}
